.navbar {
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    padding: 14px 20px;
    align-items: center;
    ul {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        li {
            padding: 0 15px;
            }
        }
}